<FlexboxLayout class="page page-login" backgroundImage="res://mesh">
  <StackLayout class="flexbox-item company-name-container">
      <Label class="t-30 company-name" text="Your App Name"></Label>
  </StackLayout>
  <Image src="res://company_logo" stretch="none" class="company-logo"></Image>
  <StackLayout class="flexbox-item m-b-20">
      <Label class="t-18 login-text" text="This is the welcome/login screen"></Label>
      <Button text="Go to tabs" (tap)="onMoveOn()" class="btn btn-login btn-rounded-sm font-weight-bold t-18"></Button>
  </StackLayout>
</FlexboxLayout>

